/* .column {
    flex-grow: 1;  
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    min-width: 200px; 
    background-color:#f4f4f4;
  }
  
  .column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .column-header-left {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .column-header-right {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .column-icon {
    font-size: 16px;
  }
  
  .add-icon,
  .menu-icon {
    font-size: 16px;
    cursor: pointer;
  }
  
  .column-name {
    font-weight: bold;
    font-size: 14px;
    color: #333333;
  }
  
  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px;
  }
   */

   .column {
    width: 20%;
    background-color: #f4f4f4;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 8px;
  }
  
  .column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4px;
    margin-left: 12px;
  }
  
  .column-header-left {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .column-header-right {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .column-icon {
    font-size: 16px;
  }
  
  .add-icon,
  .menu-icon {
    font-size: 16px;
    cursor: pointer;
  }
  
  .column-name {
    font-weight: bold;
    font-size: 14px;
    color: #333333;
  }
  
  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px;
  }
  
  .ticket-count {
    color: gray;
    font-size: 0.9rem;
    margin-left: 0.5rem;
  }
  
  